@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Ubuntu';
    margin: 0 auo;
    background: #edeeef;
}

h3{
    font-size: 175%;
    line-height: 155%;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
}

a{
    color: #001121;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    color: orangered;
}

img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    width: auto;
}

.wrapper{
    max-width: 1500px;
    margin: 0 auto;
}

.banner{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 0 3% 0;
}

header{
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
}

#brand{
    padding: 32px;
    font-size: 180%;
    display: block;
    float: left;
    font-weight: bolder;
}

nav{
    float: right;
    padding: 25px 20px 0px 0px;
}

#burger-icon{
    display: none;
    width: 40px;
    height: 40px;
}

ul{
    list-style: none;
}

nav ul li{
    font-size: 140%;
    display: inline-block;
    float: left;
    margin: 10px;
}

.active, .active:hover{
    color: orange;
}

.banner{
    clear: both;
    max-width: 1500px;
    position: relative;
    text-align: center;
    color: white;
}

.banner img{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.banner h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 190%;
    font-size: 300%;
    font-weight: 750;
    text-shadow: 2.2px 2.2px black;
}

.carousel-wrapper{
    width: 100%;
    height: 800px;
    margin: 0 auto;
    position: relative;
}

.carousel-item{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.7s ease-in-out;
}

.arrow{
    position: absolute;
    top: 0;
    display: block;
    width: 50px;
    height: 100%;
}

.arrow-prev{
    left: 0;
    margin: 3px;
    background: url(../images/icons/prev.png) 50% 50% / 40px no-repeat;
}

.arrow-next{
    right: 0;
    margin: 3px;
    background: url(../images/icons/next.png) 50% 50% / 40px no-repeat;
}

[id^="item"]{
    display: none;
}

.item1{
    z-index: 2;
    opacity: 1;
    background: url(../images/pics/single.jpeg);
    background-size: cover;
}

.item2{
    background: url(../images/pics/double.jpeg);
    background-size: cover;
}

.item3{
    background: url(../images/pics/apartment.jpeg);
    background-size: cover;
}

.item4{
    background: url(../images/pics/royal.jpeg);
    background-size: cover;
}

*:target ~ .item1 {
    opacity: 0;
}

#item1:target ~ .item1 {
    opacity: 1;
}

#item2:target ~ .item2, #item3:target ~ .item3, #item4:target ~ .item4 {
    z-index: 3;
    opacity: 1;
}

.flash-cards{
    width: 100%;
    margin-top: 30px;
    position: relative;
}

.content{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #001121;
    color: white;
    text-align: center;
}

.content h2{
    position: absolute;
    top: 40%;
    left: 32%;
    font-size: 250%;
}

.content a{
    color: white;
    position: absolute;
    top: 50%;
    left: 36%;
}

.content p{
    color: white;
    position: absolute;
    top: 50%;
    left: 33%;
    font-weight: bold;
}

.first-row{
    width: 100%;
    height: 600px;
    position: relative;
}

.second-row{
    width: 100%;
    height: 600px;
    position: relative;
}

.second-row .card{
    margin-top: 20px;;
}

.card{
    width: 48%;
    margin: 10px;
}

.card img{
    width: 100%;
    height: 600px;
    margin: 0;
}

.card1, .card3{
    position: absolute;
    top: 0;
    left: 0;
}

.card2, .card4{
    position: absolute;
    top: 0;
    right: 0;
}

.card:hover .content{
    visibility: visible;
    opacity: 0.7;
}

@media screen and (max-width: 1200px) {
    .carousel-wrapper{
        height: 600px;
    }
    .first-row{
        height: 450px;
    }
    .second-row{
        height: 450px;
    }
    .card img{
        height: 450px;
    }
}

@media screen and (max-width: 940px) {
    .carousel-wrapper{
        height: 500px;
    }
    .first-row{
        height: 380px;
    }
    .second-row{
        height: 380px;
    }
    .card img{
        height: 380px;
    }
    .content h2{
        font-size: 170%;
    }
}

@media screen and (max-width: 750px) {
    header{
        height: 80px;
        position: relative;
    }

    #brand{
        font-size: 150%;
        padding: 25px;
    }

    #burger-icon{
        display: inline-block;
        font-size: 145%;
    }

    nav ul, nav:active ul{
        display: none;
        z-index: 1000;
        position: absolute;
        padding: 20px;
        background: #edeeef;
        border: 1px solid #001121;
        right: 20px;
        width: 40%;
        opacity: .90;
    }
    nav ul li{
        text-align: center;
        width: 100%;
        font-size: 120%;
    }

    nav:hover ul{
        display: block;
    }

    .carousel-wrapper{
        height: 250px;
    }
    
    .card{
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .card img{
        width: 100%;
        height: auto;
    }

    .first-row{
        height: auto;
    }

    .second-row{
        height: auto;
    }

    .card1, .card2, .card3, .card4{
        position: relative;
    }

}

@media screen and (max-width: 400px) {
    .carousel-wrapper{
        height: 200px;
    }
}